*{
    padding : 0;
    margin-left:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    min-height:100vh;
    background: linear-gradient(rgb(221, 137, 241), rgb(111, 140, 245));
}