*{
    padding : 0;
    margin-left:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    min-height:100vh;
    background: linear-gradient(rgb(221, 137, 241), rgb(111, 140, 245));
}
p { text-align: center;
    color: rgb(255, 255, 255); 
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
h3{ 
    text-align: center;
    color: rgb(255, 255, 255); 
    top: 50%;
    position: relative;
    transform: translateY(60%);
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.container{
    width: 240px;
    height: 38px;
    margin: left;
    margin-top: 20px;
    background-color: rgba(245, 240, 248, 0.746);
    top: 50%
}
