
body{ 
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/9b/55/ff/9b55ff0666aeed223caa0b01a7f94852.gif);
    background-size: cover;
    background-attachment: fixed;
} 
p { text-align: center;
    color: rgb(68, 68, 83); 
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
h1{ 
    text-align: center;
    color: rgb(198, 115, 115); 
    top: 50%;
    position: relative;
    transform: translateY(60%);
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.container{
        width: 900px;
        height: 100px;
        margin: auto;
        margin-top: 20px;
        background-color: rgba(245, 240, 248, 0.746);
        top: 50%
    }

.container2{
        text-align: center;
        width: 900px;
        height: 300px;
        margin: auto;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(245, 240, 248, 0.746);
        
    }

    .footer{
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      hanging-punctuation: 100px;
      background-color: #b3d6fa8a;
  }

.column {
    float: left;
    width: 33.33%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(68, 68, 83)
  }
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }



.happy{
    background-color :rgb(251, 244, 152);
    padding : 0 5rem;
}