body{
    background-image: url(https://img.wattpad.com/b186ceda65cc68efacc9ecaf09e6c9bc9653e0f8/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f42316452324f5a5f4d356a5365773d3d2d313131353234383438392e313639623164383662323835376538623836303238313738353538352e676966);
    background-size: cover;
    background-attachment: fixed;
}